@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('PlutoSansCondThin.eot');
    src: local('Pluto Sans Cond Thin'), local('PlutoSansCondThin'),
        url('PlutoSansCondThin.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansCondThin.woff') format('woff'),
        url('PlutoSansCondThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('PlutoSansCondLight.eot');
    src: local('Pluto Sans Cond Light'), local('PlutoSansCondLight'),
        url('PlutoSansCondLight.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansCondLight.woff') format('woff'),
        url('PlutoSansCondLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('PlutoSansCondMedium.eot');
    src: local('Pluto Sans Cond Medium'), local('PlutoSansCondMedium'),
        url('PlutoSansCondMedium.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansCondMedium.woff') format('woff'),
        url('PlutoSansCondMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond ExLight';
    src: url('PlutoSansCondExLight.eot');
    src: local('Pluto Sans Cond ExLight'), local('PlutoSansCondExLight'),
        url('PlutoSansCondExLight.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansCondExLight.woff') format('woff'),
        url('PlutoSansCondExLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('PlutoSansCondBold.eot');
    src: local('Pluto Sans Cond Bold'), local('PlutoSansCondBold'),
        url('PlutoSansCondBold.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansCondBold.woff') format('woff'),
        url('PlutoSansCondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('PlutoSansCondBlack.eot');
    src: local('Pluto Sans Cond Black'), local('PlutoSansCondBlack'),
        url('PlutoSansCondBlack.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansCondBlack.woff') format('woff'),
        url('PlutoSansCondBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('PlutoSansThin.eot');
    src: local('Pluto Sans Thin'), local('PlutoSansThin'),
        url('PlutoSansThin.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansThin.woff') format('woff'),
        url('PlutoSansThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('PlutoSansCondRegular.eot');
    src: local('Pluto Sans Cond Regular'), local('PlutoSansCondRegular'),
        url('PlutoSansCondRegular.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansCondRegular.woff') format('woff'),
        url('PlutoSansCondRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('PlutoSansMedium.eot');
    src: local('Pluto Sans Medium'), local('PlutoSansMedium'),
        url('PlutoSansMedium.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansMedium.woff') format('woff'),
        url('PlutoSansMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('PlutoSansBlack.eot');
    src: local('Pluto Sans Black'), local('PlutoSansBlack'),
        url('PlutoSansBlack.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansBlack.woff') format('woff'),
        url('PlutoSansBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('PlutoSansBold.eot');
    src: local('Pluto Sans Bold'), local('PlutoSansBold'),
        url('PlutoSansBold.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansBold.woff') format('woff'),
        url('PlutoSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('PlutoSansExtraLight.eot');
    src: local('Pluto Sans ExtraLight'), local('PlutoSansExtraLight'),
        url('PlutoSansExtraLight.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansExtraLight.woff') format('woff'),
        url('PlutoSansExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('PlutoSansRegular.eot');
    src: local('Pluto Sans Regular'), local('PlutoSansRegular'),
        url('PlutoSansRegular.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansRegular.woff') format('woff'),
        url('PlutoSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('PlutoSansLight.eot');
    src: local('Pluto Sans Light'), local('PlutoSansLight'),
        url('PlutoSansLight.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansLight.woff') format('woff'),
        url('PlutoSansLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans';
    src: url('PlutoSansHeavy.eot');
    src: local('Pluto Sans Heavy'), local('PlutoSansHeavy'),
        url('PlutoSansHeavy.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansHeavy.woff') format('woff'),
        url('PlutoSansHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Sans Cond';
    src: url('PlutoSansCondHeavy.eot');
    src: local('Pluto Sans Cond Heavy'), local('PlutoSansCondHeavy'),
        url('PlutoSansCondHeavy.eot?#iefix') format('embedded-opentype'),
        url('PlutoSansCondHeavy.woff') format('woff'),
        url('PlutoSansCondHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

